:root{
  --dark: #141B41; /* var(--dark) */
  --light: #CFE0F2; /* var(--light) */
  --hover: #6F9CEB; /* var(--pink) */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 10px;
  /* max-width: 38rem;
  padding: 2rem; */ 
  background-color: var(--light);
}
.top_bar{
  display: flex;
  align-items: center;
}

table {
  position:sticky;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid;
  padding: 5px;
  text-align: left;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
#vertical-tab:hover{
  color: var(--hover);
  text-decoration: underline;
}
h5{
  text-align: center;
}
#underline{
  text-decoration: underline;
}
#vertical-tabpanel-0 > div > p > div > div.MuiBox-root.css-1w1vbxm > div.MuiBox-root.css-1l1pq2q > h6{
  background-color: #FFAA00;
  border-radius: 6px;
  padding: 5px;
}